<div class="auth">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#login">login</a></li>
        <li class="tab col s6"><a href="#register">register</a></li>
      </ul>
    </div>
    <div id="login" class="col s6 offset-s3">
      <h1>Enter to Shop</h1>
      <form action="////////////////////////////////////////" method="POST" class="col s12">
        <div class="row">
          <div class="input-field">
            <input name="email" id="email" type="email" class="validate" required>
            <label for="email">Email</label>
            <span class="helper-text" data-error="Write your email"></span>
          </div>
          <div class="input-field">
            <input name="password" id="password" type="password" class="validate" required>
            <label for="password">Password</label>
            <span class="helper-text" data-error="Input password"></span>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
    <div id="register" class="col s6 offset-s3">
      <h1>Registration</h1>
      <form action="////////////////////////////////////////" method="POST" class="col s12">
        <div class="row">
          <div class="input-field">
            <input name="email" id="remail" type="email" class="validate" required>
            <label for="remail">Email</label>
            <span class="helper-text" data-error="Write your email"></span>
          </div>
          <div class="input-field">
            <input name="password" id="rpassword" type="password" class="validate" required>
            <label for="rpassword">Password</label>
            <span class="helper-text" data-error="Input password"></span>
          </div>
          <div class="input-field">
            <input name="password" id="confirm" type="password" class="validate" required>
            <label for="confirm">Repeat password</label>
            <span class="helper-text" data-error="Input password"></span>
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>